<!DOCTYPE html>
<html>

<head>
    <title> ShowBro </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link type="text/css" rel="stylesheet" href="../static/styles/mystyle.css">  -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
        .navbar-brand {
            font-size: 1.5rem;
        }

        .navbar-toggler {
            border: none;
        }
    </style>

</head>

<body style="background-color:aliceblue;">
    <!-- New Navbar -->
    <div class="has-text-centered hero-inner"></div>

    <nav class="navbar navbar-expand-md navbar-dark "
        style="background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(0, 125, 150) 100%);">
        <div class="container">
            <a class="navbar-brand " href="/">ShowBro</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item ">
                        <a class="nav-link " href="/"><button type="button" class="btn btn-dark"
                                id="but-link">Home</button></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/About"><button type="button" class="btn btn-dark"
                                id="but-link">About</button></a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item ">
                        <a href="/user/dashboard" class="nav-link "><button type="button" class="btn btn-dark"
                                id="but-link">My dashboard</button></a>
                    </li>
                    {% if current_user.roles[0]|string == "<Role 1>"  %}
                        <li class="nav-item">
                            <a href="/admin/dashboard" class="nav-link "><button type="button"
                                class="btn btn-dark" id="but-link">Admin Controls</button></a>
                        </li>
                    {% endif %}

                    <li class="nav-item ">
                        <a href="/logout" class="nav-link "><button type="button" class="btn btn-dark"
                                id="but-link">Logout</button></a>
                    </li>

                    
                         
                    {% endif %}

                    

                </ul>
            </div>
        </div>
    </nav>




    <!-- New Navbar ends -->
    <div class="hero-body">
        <div class="jumbotron" style="background-image: url(/static/Background.jpg); background-size: cover ;"> 
            <div class="row">    
                <div class="col-lg-4 display-4">
                    Welcome to ShowBro
                </div>

                <div class="col-8" style="border-left: 2px solid black; border-radius: 1px;">
                    Being an admin, you can add, edit or delete shows as per requirements. <br> Also you can see all the data about the shows and tickets. <br>
                </div>
            </div>
        </div>

        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="row justify-content-center text-center">
                <div class="notification mx-auto" style="font-size:larger ;">
                    {{ messages[0] }}
                </div>
            </div>
            {% endif %}
            {% endwith %}
            <div class="row justify-content-center">
                <div class="col-md-12 col-sm-12 align-self-center"></div>
                <div class="card mb-5 border-dark bg-light" style="min-width: 40%; max-width: 90%;">
                    <div class="card-header text-info text-center" style="margin-bottom: 5px;"> Enter the Show Details:</div>
                    <div class="card-body  w-100 mx-auto">
                        <form method="POST" action="/admin/edit_show?show={{ show.id }}" enctype="multipart/form-data"> 
                            <div class="field ">
                                <div class="control">
                                    <label for="show-name" aria-required="true">Show Name</label> 
                                    <input class="input is-large form-control " style="" type ="text" name="show_name" placeholder="Name of the Show" value="{{ show.name }}" autofocus="" required>
                                    <br>
                                </div>
                            </div>        
        
                            <div class="field " >
                                <div class="control">
                                    <label for="show_rating" aria-required="true">Rating</label>
                                    <input class="input is-large form-control" style="" type="number" name="show_rating" placeholder="Rating"  value="{{ show.rating }}"  autofocus="" required>
                                    <br>
                                </div>
                            </div>
        
                            
        
                            <div class="field">
                                <div class="control" style="margin-bottom: 0px;">
                                    <label for="show_start" aria-required="true">Show Start Timing</label>
                                    <input class="input is-large form-control" style="" type="datetime-local" name="show_start" placeholder="Show Starts at" value="{{ show.start }}"  required>
                                    <br>
                                </div>
                            </div>


                             
                            <div class="field">
                                <div class="control" style="margin-bottom: 0px;">
                                    <label for="show_end" aria-required="true">Show End Timing</label>
                                    <input class="input is-large form-control" style="" type="datetime-local" name="show_end" placeholder="Show ends at"  value="{{ show.end }}"  required>
                                    <br>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control" style="margin-bottom: 0px;">
                                    <label for="show_tags" aria-required="true">Tags</label>
                                    <input class="input is-large form-control   " style="" type="text" name="show_tags" placeholder="Enter tags related to the show" value="{{ tags }}" required>
                                    <br>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control" style="">
                                    <label for="show_ticket" aria-required="true">Ticket Price</label>
                                    <input class="input is-large form-control" style="" type="text" name="show_ticket" placeholder="Ticket Price" value="{{ show.ticket_price }}" required>
                                    <br>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control" style="">
                                    <label for="photo">Show Image</label><br>
                                    <input class="input form-data" style="" type="file" name="photo" placeholder="Upload a sample Picture of the Show" >
                                </div>
                            </div>
                            <br>

                            <div class="row row-cols-2 " style="">
                                <div class="col-md-6 text-center">
                                    <button class=" field button btn  btn-outline-success " type="submit" style="width:90%">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                      </svg>
                                      <div class="text-success">Save Changes</div>
                                    </button>
                                    
                                </div>
        
                                <div class="col-md-6 text-center ">
                                    
                                        <button class=" field button btn btn-outline-danger  " type="submit" style="width:90%" formaction="/admin/delete_show?show={{ show.id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                            <div class="text-danger">Delete Show</div>  
                                        </button>
                                        
                                    
                                    
                                </div>
        
                            </div>
        
                            
                        </form>
                    </div>
                </div>
        
        
        
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html> 